body{
  font-family: 'Work Sans', sans-serif;
  background-color:rgb(247, 234, 207); 
  /* background-color:#fff; */
  font-weight:400; 
  font-size: 20px;
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar {
  width:0;
  background-color: #fff;
}


body.whiteBackground{
  background-color:#fff;
}

 body.backgroundColor{
   background-color:rgb(247, 234, 207); 
}

body.unfold{
  background-color: #F8E5DB; 
}

body.minerals{
  background-color: #E1EAEB;
}

body.fnm{
  background-color: #F4DDD7;
}

body.vegains{
  background-color: rgb(247, 234, 207);
}

body.affinity{
  background-color: #EEDED3;
}

body.compass{
  background-color: #D7DFE1;
}

body.ancestor{
  /* background-color: #D7EDE5; */
  background-color: #F5E2B8;
}

.wrapper{
  width:100%;
  margin:0 auto;
  max-width:1400px;
}

*{ box-sizing:border-box;}

div{
  vertical-align:top;
}
.diana{
  position:fixed;
  /* transform: rotate(-90deg); */
  right: 25px;
  margin-top: 5px;
  top: 25px;
}

.dianaLink:hover{
  text-decoration:none;
}

a{
  text-decoration:none;
  color:#000;
  font-weight:400;  
}

a:hover{
  border-bottom: 2px dotted currentColor;
}

/* projectLink hover + projectThumbnails */


.projectThumbnail { 
  position:absolute;;
  top:50px;
  margin-left:250px;
  opacity:0;
  z-index:-1;
}

.projectLink:hover>.projectThumbnail{
  opacity: 1;
  transition: all 900ms ease;
}

.unfoldLink:hover>.unfoldThumbnail { 
  display: block; 
}

.unfoldLink:hover:before { 
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background-color: #F8E5DB;
}

.vegainsLink:hover>.vegainsThumbnail { 
  display: block; 
}

.vegainsLink:hover:before { 
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  /* background-color: #DEE1D6; */
  background-color: rgb(247, 234, 207);
}


.mineralsLink:hover>.mineralsThumbnail { 
  display: block; 
}

.mineralsLink:hover:before { 
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background-color: #E1EAEB;
}

.ancestorLink:hover>.ancestorThumbnail { 
  display: block; 
}

.ancestorLink:hover:before { 
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background-color: #F5E2B8;
}

.exaltLink:hover>.exaltThumbnail { 
  display: block; 
}

.compassLink:hover>.compassThumbnail { 
  display: block; 
}

.compassLink:hover:before { 
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background-color: #D7DFE1;
}

.roadstersLink:hover>.roadstersThumbnail { 
  display: block; 
}

.roadstersLink:hover:before { 
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background-color: rgb(247, 234, 207);
}


.affinityLink:hover>.affinityThumbnail { 
  display: block; 
}

.affinityLink:hover:before { 
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background-color: #EEDED3;
}

.fnmLink:hover>.fnmThumbnail { 
  display: block; 
}
.fnmLink:hover:before { 
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background-color: #F4DDD7;
}

.projectsBox{
  padding-bottom:100px;
}

.imgContainer {
  position: relative;
  z-index:-10;
}

.projectsScroll{
  height: 100%;
  width:85%;
  overflow: scroll;
  /* text-align:center;   */
}

.projectsScroll.collapsed {
  width: 60%;
}

.images-hero{
  width:70%;
  /* width:100% !important; */
  /* text-align:center; */
  /* margin-top: -100px; */
}

.images-scroll{
  width:70%;
  text-align:center;
  margin-top:25px;
}

.images{
  padding-top: 20px;
  /* top right bottom left*/
}

.descriptions{
  width:50%;
}

.initialSubtitle{
  /* margin-top: 0px; */
  font-size:20px;
  /* font-weight: bold; */
}

.projectSubtitle{
  font-size:20px;
  margin-top:100px;
  /* font-weight: bold; */
}
.projectDescriptions{
  font-size:16px;
  margin-top:20px;
  padding: 0px 200px 0px 200px;
  text-align: left;
  
}

.lastDescriptions{
  margin-bottom:50px;
}

span.projectTitle{
  z-index:500;
}

.projectImages{
  width: 60%;
  height: auto;
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  /* box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.2); */
}

.img-wrap {
  position: relative;
  display: none;
}

.current {
  display: block;
}

/* navigation icons */

  
.closeButton{
  position:fixed;
  margin-top: 5px;
  right: 25px;
  top: 25px;
  margin: 0;
  padding: 0;
}
.navArrows{
  position:fixed;
  bottom: 90px;
  width: 85%;
  text-align:center;
  transition: all 300ms ease;
  z-index:1;

}
.nextButton{
  margin-top:500px; 
}

.backButton{
  margin-top:500px;
  /* display:none; */ 
}

.backLink, .nextLink{
  padding:0 80px 0 80px;
  /* top right bottom left*/
}

.backLink:hover, .nextLink:hover{
  border-bottom: none;
}

/* Responsive Columns sideBar + projectsList */

.column{
  display:inline-block; 
  /* top right bottom left*/
  float:left;
}

.aboutSidebar{
  height:auto !important;
}

.aboutSidebar.expanded{
height: 100% !important; 
}

.sideBar{
  border-right:solid #000 1px; 
  height:auto;
  width:15%;
  transition: all 300ms ease;
  overflow: auto;
  padding:25px 25px 0; 
}

.sideBar-images{
  text-align:center; 
}

.sideBar.expanded {
  width: 40%;
  height:100%;

}

.projectsTitles{
  list-style:none;
  padding: 0;
  font-size:25px; 
  /* text-transform:uppercase; */
}

.projectCategory{
  font-size:18px;
  font-style:italic;
  font-weight:300;
}


ul li{  
  margin: 25px 0;
}

.projectsList {
  width:85%;
  height:auto;
  padding:0px 0px 0px 100px; 
  transition: all 300ms ease;
 
}

.projectsList.collapsed {
  width: 60%;
}


.navArrows.collapsed {
  width: 60%;
}

.projectsSlide{
  width:85%;
  padding: 25px 0px 0px 0px;
  text-align: center;
 /* top right bottom left*/
 }

.infoButton, .aboutButton {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 5000;
}

.closeButton{
  z-index: 5000;

}

.infoButton,.aboutButton{
  text-decoration:none;
  color:black;
}

.infoBox{
 overflow-y: scroll;
 overflow-x:hidden;
 z-index:-1;
 padding-bottom:100px;
 /* height:100%; */
 
}

.infoBox_content{
  font-size:18px;
  max-width:450px;
  height:100%;
  overflow-x:hidden;
  opacity: 0;
  transition: all 300ms ease;
}

.expanded .infoBox_content{
  opacity: 1;
}


@media only screen and (max-width:768px){
  .wrapper{
    max-width:500px;
  }
  
  .column {
    max-width: 500px;
  }
  
  .projectsList, .sideBar, .expanded, .collapsed { 
    width: 100% !important;
    height: auto;  
    border:none;
    display: block;
  }

  .projectsScroll{
    margin:auto;
    width:100%;
    text-align:center;  
  }

  .aboutSideBar{
    /* border-bottom: 1px solid #000; */
  }

  .projectsList{
    padding:25px;
    text-align:Center;
  }


  .projectsScroll.collapsed,.projectsList.collapsed {
    display: none;
  }

  .projectsList a{
   font-size:20px;

  }

  .projectDescriptions{
    font-size:16px;
    margin-top:20px;
    padding: 0px 20px 0px 20px;
  }

  .sidebar.expanded .projectsList{
    overflow:hidden;
  }

  .infoBox {
    height: 0;
    overflow: hidden;
  }

  .sidebar.expanded .infoBox {
    height: 100%;
  }

  .projectImages, .images-scroll, .images-hero{
    width:90%;
    height: auto;
    text-align:center;
  }

  .projectLink:hover>.projectThumbnail{
    opacity: 0;
  }

  .closeButton{
    position:fixed;
    margin-top: 5px;
    right: 30px;
    top: 25px;
    margin: 0;
    padding: 0;
  }

 

  .backlink, .nextlink{
    padding:0;
    /* top right bottom left*/
  }

  .navArrows{
    position:fixed;
  }

  .nextButton{
    position:relative;
    margin-top:450px;
    right:-100px;
  }
  
  .backButton{
    position:relative;
    margin-top:450px;
    right:100px;  
  }
}